.list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    list-style: none;
    padding: 0;

}
.item{
    box-sizing: border-box;
    height: 100%;
    width: calc((100% - 120px) / 4);
    min-height: 200px;
}
.item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
.addButton{
    border: none;
    width: 100%;
    height: 180px;
    background-color: #f2f4f8;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonText{
display: block;
}
.svg{
display: block;
}
.card{
  border: none;
  background-color: transparent;
  cursor: pointer;
}