.container{
    width: 40%;
    background-color: #110e3b;
padding:  100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-image:linear-gradient(0deg, rgba(17,14,59, 0.5), rgba(17,14,59, 0.5)), 
    url(../../images/—Pngtree—evening\ clouds_5623772.png);
    background-size: cover;
    padding: 20px;
}